.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information input {
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.information label {
  margin-top: 1rem;
}

.employees {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee {
  width: 50%;
  height: auto;
  border: 1px solid #000;
  border-radius: 16px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
}

.employee h3 {
  margin: 1.5rem;
}

/** Utils **/

.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.btn:hover {
  cursor: pointer;
}
